* {
    box-sizing: border-box;
}

body {
    font-family: 'Muli', sans-serif;
    display: flex;
    background-color: #f7f7fb;
    align-items: center;
    justify-content: center;
    min-height: 100%;
    margin: 0;
    min-width: 100%;
    overflow: hidden;
}

.all {
    height: 100%;
    width: 100%;
    display: flex;
}


.offcanvas-body {
    height: 100vh;
    width: 260px;
}

.right-container {
    width: calc(100% - 260px);
    min-height: 100%;
    position: relative;
}



.right-container-b {
    width: 100%;
    height: 100vh;
    top: 70px;
    bottom: 0;
    overflow-y: scroll;
    padding: 5%;
}

.right-container-t {
    width: 100%;
    height: 70px;
    position: sticky;
    top: 0;
    background-color: white !important;
    z-index: 9;
}

.right-nav {
    height: 70px;
    width: 100%;
}

.right-contain {
    height: calc(100% - 70px);
    width: 100%;
}

.left-nav {
    max-width: 260px;
}

.left-nav-t {
    width: 100%;
    z-index: 10;
}

.left-nav-b {
    width: 100%
}










:root {
    --line-border-fill: #3498db;
    --line-border-empty: #e0e0e0;
}

.container {
    text-align: center;
}

.progress-container {
    display: flex;
    align-items: center;
    position: relative;
    justify-content: space-between;
    margin-bottom: 30px;
    max-width: 80%;
    width: 100%;
    height: 158.4px;
    margin: auto;
}

@media (max-width: 992px) {
    .progress-container {
        margin: auto;
        width: 80%;
    }
}


.progress {
    background-color: var(--line-border-fill);
    position: absolute;
    top: 50%;
    left: 0;
    height: 4px;
    width: 0%;
    transform: translateY(-50%);
    z-index: -1;
    transition: 0.4s ease-in;
}

.progress-container::before {
    background-color: rgb(144, 124, 245) !important;
    content: '';
    background-color: var(--line-border-empty);
    position: absolute;
    top: 50%;
    left: 0;
    height: 3px;
    width: 33%;
    transform: translateY(-50%);
    z-index: 1;
    transition: 0.4s ease-in;
}

.progress-container::after {
    background-color: rgb(198, 194, 194) !important;
    content: '';
    background-color: var(--line-border-empty);
    position: absolute;
    top: 50%;
    left: 0;
    height: 3px;
    width: 100%;
    transform: translateY(-50%);
    z-index: -1;
    transition: 0.4s ease-in;
}

.circle {
    background-color: rgb(144, 124, 254);
    border-radius: 50%;
    height: 10px;
    width: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}

.progress-container .circle:nth-child(5) {
    background-color: rgb(10, 207, 151);
}

@keyframes animation-steps-current {

    0% {
        opacity: 1;
        transform: scale(0);
    }

    100% {
        opacity: 0;
        transform: scale(1);
    }
}

.progress-container .circle:nth-child(3)::before {
    content: "";
    display: block;
    transform: translate(-50%, -50%);
    padding: 1em;
    background-color: rgb(144, 124, 254);
    border-radius: 50%;
    opacity: 0;
    z-index: -1;
    animation: animation-steps-current 2s infinite ease-out;

}

.circle.active {
    border-color: var(--line-border-fill);
    position: relative;
}

.circle span {
    color: rgb(166, 174, 181) !important;
    position: absolute;
    top: calc(100% + 1em);
    left: 50%;
    -webkit-transform: translateX(-50%);
    transform: translateX(-50%);
    white-space: nowrap;
    color: #6c757d;
}

.progress-container .circle:nth-child(3) span {
    color: rgb(140, 148, 247) !important;
}

.progress-container .circle:nth-child(3) span:hover::before {
    position: absolute;
    top: 25px;
    left: -50px;
    height: 25px;
    width: 165px;
    background-color: rgb(122, 120, 120);
    color: white;
    border-radius: 5px;
    text-align: center;
    content: '20/08/2018 07:24 PM';
}

.progress-container .circle:nth-child(2) span:hover::before {
    position: absolute;
    top: 25px;
    left: -50px;
    height: 25px;
    width: 165px;
    background-color: rgb(122, 120, 120);
    color: white;
    border-radius: 5px;
    text-align: center;
    content: '20/08/2018 07:24 PM';
}



.row {
    margin-bottom: 20px;
}

.card-b {
    line-height: 30px;
}

.card-body {
    background-color: white;
    padding: 5%;
    min-height: 200px;
    font-size: 10px;
    height: 100%;
    color: #6c757d;
}

.card-body table td {
    color: #6c757d;
}

.fast-car {
    margin-left: calc(50% - 10px);
}

.card-b {
    font-size: 6px;
}

.bigbox {
    width: 100%;
}

.col-lg-4 {
    margin-bottom: 20px;
}

.text-md-end.footer-links.d-none.d-md-block a {
    color: black;
    text-decoration: none;
}

.titlebody {
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.page-title-right {
    display: flex;
    align-items: center;
    /* width: 100%; */
    flex-grow: 2;
}

.breadcrumb {
    font-size: 14.4px;
    display: flex;
    justify-content: end;
    flex-grow: 1;
    color: rgb(131, 124, 245);
}

@media (max-width: 767px) {
    .breadcrumb {
        display: none;
    }
}

footer {
    color: rgb(145, 152, 158);
}

.text-md-end.footer-links.d-none.d-md-block a {
    color: rgb(145, 152, 158);
}

.titlebody .page-title-right h4 {
    font-weight: 700;
    color: rgb(117, 126, 125) !important;
    font-weight: bold;
}

.card-body h5 {
    font-size: 20px;
    color: #6c757d !important;
}

* {
    box-sizing: border-box;
    font-family: Nunito, sans-serif !important;
    text-decoration: none;
    font-weight: 400;
}

hr {
    display: none;
    border-width: 0px;
}


.nav-link,
.active {
    color: #8290a1;
}

.navbar,
.bg-body-tertiary,
.fixed-top,
.nav-item {
    background-color: rgb(37, 48, 59);
    color: rgb(187, 187, 187) !important;
    border-width: 0px;

}

.offcanvas-header,
.btn-close,
.nav-link,
.active {
    font-size: 15px;
    color: rgb(187, 187, 187) !important;
    border-width: 0px;
}

.nav-link,
.active,
.item-svg,
.float-start {
    color: rgb(187, 187, 187) !important;
    /* display: flex; */
    flex-wrap: nowrap;
    align-items: center;
    /* justify-content: center; */
}

.item-svg,
.float-start,
.badge,
.bg-succes,
.float-end {
    display: flex;
    flex-wrap: nowrap;
    justify-content: center;
}

.nav-item {
    flex-wrap: nowrap;
}

.offcanvas-body,
.offcanvas-header,
.dropdown-menu,
.accordion-button,
.collapsed,
.accordion-collapse,
.collapse .accordion-header {
    background-color: rgb(37, 48, 59) !important;
    border-width: 0px;
    color: rgb(187, 187, 187) !important;
    font-size: 15PX;
    font-weight: 400;
    line-height: 22.5px;
    /* border-color: rgb(37, 48, 59) !important; */
}

.accordion-button.collapsed::after {
    color: rgb(187, 187, 187) !important;
    transform: rotate(-90deg);
}

/* .accordion-button::after {
    border-color: rgb(187, 187, 187) !important;
    transform: rotate(90deg);
}  */



.card-title {
    margin-top: 20px;
    margin-left: 20px;
    align-items: center;
    padding: 0px;
}

.accordion-button {
    padding-left: 0px;

}

.card-bodych,
.btn,
.btn-primary {
    /* margin-top: 10px; */
    font-size: 14px;
    font-display: initial;
    display: flex;
    flex-wrap: wrap;
    align-items: center;

}

.btn-primary {
    margin-left: 50px;
}

.card-svg,
.img {
    margin-left: 40px;

}

.accordion-collapse,
.collapse,
.show,
.accordion,
.accordion-button {
    border-color: rgb(37, 48, 59) !important;
}

.badge,
.bg-succes,
.float-end {
    width: 20px;
    height: 20px;
    font-size: 10px;
    border-radius: 2px;
    background-color: #0ACF97;
}

.offcanvas-body,
.offcanvas,
.offcanvas-start,
.show,
.offcanvasNavbar .offcanvas-header {
    width: 260px;
}

.offcanvas-header {
    height: 70px;
}

.accordion {
    --bs-accordion-border-color: none;
}


/* 拉條特效 */

.offcanvas-body {
    overflow-x: hidden !important;
}

.offcanvas-body::-webkit-scrollbar {
    width: 8px;
    background: rgb(37, 48, 59);
}

.offcanvas-body::-webkit-scrollbar-button {
    background: rgb(37, 48, 59);
}

.offcanvas-body::-webkit-scrollbar-track-piece {
    background: rgb(37, 48, 59);
}

.offcanvas-body::-webkit-scrollbar-track {
    box-shadow: inset 0 0 3px rgb(37, 48, 59);
}

.offcanvas-body::-webkit-scrollbar-thumb {
    border-radius: 2rem;
    background-color: rgb(187, 187, 187);
    border: 1px solid rgb(37, 48, 59);
}

.offcanvas-body::-webkit-scrollbar-corner {
    width: 5px;
    border-radius: 2rem;
    background-color: rgb(187, 187, 187);
    border: 1px solid rgb(37, 48, 59);
}

.accordion {
    --bs-accordion-btn-icon: url(./img/round-chevron-right.svg) !important;
    z-index: 20;
}

.navbar-nav,
.offcanvas-header {
    padding: 0 5%;
}

* {
    box-sizing: border-box;
}

ul {
    list-style-type: none;

    padding-left: 0;
}

nav.navt {
    display: flex;
    width: 100%;
}

.topbar-menu {
    display: flex;
    justify-content: space-evenly;
}


.dropdown {
    background-color: rgb(249, 249, 252);
    display: flex;
    align-items: center;
    justify-content: center;
    height: 70px;
    padding: 0 12px;
    width: 168px;
}

@media (max-width: 992px) {

    .dropdown {
        width: 57.6px;
        display: flex;
        justify-content: center;
        align-items: center;
        margin: n;

    }
}

.account-user-avatar {
    margin-right: 20px;
}

.d-lg-flex.flex-column.gap-1.d-none {
    background-color: rgb(250, 250, 253);
}

.d-lg-flex.flex-column.gap-1.d-none h5 {
    font-size: 13px;
    font-weight: bolder;
}

.d-lg-flex.flex-column.gap-1.d-none h6 {
    font-size: 12.24px;
}

.us {
    width: 18px;
    height: 12px;
}

.us-fs {
    font-size: 14.4px;
}

a {
    text-decoration: none;
}

.d-flex.align-items-center.gap-lg-2.gap-1 {
    width: 50%;
}

.topbar-menu {
    display: flex;
    justify-content: flex-end;
    /* 將內容靠右對齊 */
    align-items: center;
    gap: 20px;
    /* 調整間距 */
    margin-bottom: 0;
    /* 移除底部間距 */
}

.english-menu {
    width: 85.45px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.navt.d-flex.justify-content-between {
    padding: 0 12px;
}

.app-search {
    width: 300px;
}

@media (max-width: 992px) {

    .app-search,
    .english-menu span {
        display: none;
        width: 38.67px;
    }
}

@media (max-width: 992px) {
    .english-menu {
        width: 38.67px;
    }
}

.form-control.dropdown-toggle {
    background-color: #f0f3f8;
    padding-left: 40px;
}

.search-icon img {
    display: none;
}

@media (max-width: 992px) {
    .search-icon img {
        display: flex;

    }
}

.abc {
    position: relative;
    left: 25px;
    z-index: 9;
}